* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav img {
    width: 70px;
    padding: 5px;
}

#main-title{
    text-align: center;
    margin: 15px 0 30px;
}

/* HOME */
#contacts-table{
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead {
    color: #FFF;
    background-color: blue;
}

.actions{
    text-align: right;
    width: 150px;
}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

.check-icon{
    color: green;
}

.edit-icon{
    color: blue;
}

.delete-icon{
    color: red;
}

.delete-btn{
    background-color: transparent;
    border: none;
    padding: 0;
}

#empty-list-text{
    text-align: center;
}

#msg{
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

/* Classe Mostrar */

.corpo_detalhes{
    max-width: 500px;
    margin: 0 auto;
}

#create-form{
    margin: 5px;
}

#create-form label {
    margin-top: 15px;
}
#create-form button {
    margin-top: 15px;
}